assign6/fashion-mnist_train.csv
assign6/fashion-mnist_test.csv
assign7/.ipynb_checkpoints/
assign7/Test_Arabic_Digit.txt
assign7/Train_Arabic_Digit.txt
assign8/.ipynb_checkpoints/
assign8/__MACOSX/
assign8/codon_usage.csv